# **Section 1 Project**

## Project 문제 정의

### 배경

> 류재영님은 게임 회사의 데이터 팀에 합류했습니다. **다음 분기에 어떤 게임을 설계해야 할까** 라는 고민을 해결하기 위해, 기존의 데이터에 기반하여 인사이트를 얻고, 의사결정을 하고자 하는 것이 여러분의 목표입니다.

### 필수 조건

- 지역에 따라서 선호하는 게임 장르가 다를까 라는 질문에 대답했는가?
 - 지역은 어떻게 구분했는지 설명함
 - 지역별로 선호하는 게임의 장르를 파악함
 - 지역별로 선호하는 게임의 장르가 왜 같다고/다르다고 생각했는지를 설명함

- 연도별 게임의 트렌드가 있을까 라는 질문에 대답했는가?
 - 트렌드는 어떤 것을 기준으로 파악했는지 설명함
 - 연도별로 트렌드가 존재하는지 여부를 언급함
 - 왜 존재한다/존재하지 않는다고 생각했는지 설명함

- 인기가 많은 게임에 대한 분석 및 시각화 프로세스가 포함되었는가?
 - 인기가 많다는 것을 어떻게 정의했는지 설명함
 - 해당 게임이 왜 인기가 많다고 생각했는지 설명함
 - 시각화를 통해 무엇을 나타내고자 하는지를 고려하여 파라미터를 조정함 (제목,축이름 필수, 그 외 파라미터는 선택사항)
 - 해당 분석을 통해 어떤 인사이트를 도출할 수 있는지 설명함

- 다음 분기에 어떤 게임을 설계해야 하는지에 대한 결론이 제시되었는가?
 - 분석에 대한 결론이 영상에서 제시됨

### 추가 조건 (Advanced Goal)
`다음 추가 조건은 1개 이상 만족 시 3점을 받을 수 있습니다.`

- 디테일한 시점 및 목표 설정이 문제 정의 과정에서 제시되었는가?
- 도메인 지식을 활용하여 비지니스 인사이트를 도출하였는가?
- 제공된 데이터셋 외에 추가 데이터를 사용하였는가?
- 통계적 기법을 활용한 가설 검정을 진행하였는가?
- 완성도 높은 시각화를 보여주었는가?
 - 가독성, 목적성이 잘 드러나는 시각화

🕹️ **data description**

- `Name` : 게임의 이름입니다.
- `Platform` : 게임이 지원되는 플랫폼의 이름입니다.
- `Year` : 게임이 출시된 연도입니다.
- `Genre` : 게임의 장르입니다.
- `Publisher` : 게임을 배급한 회사입니다.
- `NA_Sales` : 북미지역에서의 출고량입니다.
- `EU_Sales` : 유럽지역에서의 출고량입니다.
- `JP_Sales` : 일본지역에서의 출고량입니다.
- `Other_Sales` : 기타지역에서의 출고량입니다.

In [109]:
# 라이브러리 불러오기
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [110]:
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/datasets/vgames2.csv',index_col=0)
df_copy = df.copy()
df_copy

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
4,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...,...
16594,Ice Age 2: The Meltdown,GC,2006.0,Platform,Vivendi Games,0.15,0.04,0,0.01
16595,Rainbow Islands: Revolution,PSP,2005.0,Action,Rising Star Games,0.01,0,0,0
16596,NBA 2K16,PS3,2015.0,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16597,Toukiden: The Age of Demons,PSV,2013.0,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16598,The King of Fighters '95,PS,1996.0,Fighting,Sony Computer Entertainment,0,0,0.16,0.01

In [111]:
df_copy[df_copy.duplicated(keep=False)]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
8056,Wii de Asobu: Metroid Prime,Wii,NaN,Shooter,Nintendo,0,0,0.02,0
9185,Wii de Asobu: Metroid Prime,Wii,NaN,Shooter,Nintendo,0,0,0.02,0

In [112]:
#중복값 확인후 제거
df_copy = df_copy.drop_duplicates()
df_copy

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
4,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...,...
16594,Ice Age 2: The Meltdown,GC,2006.0,Platform,Vivendi Games,0.15,0.04,0,0.01
16595,Rainbow Islands: Revolution,PSP,2005.0,Action,Rising Star Games,0.01,0,0,0
16596,NBA 2K16,PS3,2015.0,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16597,Toukiden: The Age of Demons,PSV,2013.0,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16598,The King of Fighters '95,PS,1996.0,Fighting,Sony Computer Entertainment,0,0,0.16,0.01

In [113]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16597 entries, 1 to 16598
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16597 non-null  object
 1   Platform     16597 non-null  object
 2   Year         16327 non-null  float64
 3   Genre        16547 non-null  object
 4   Publisher    16539 non-null  object
 5   NA_Sales     16597 non-null  object
 6   EU_Sales     16597 non-null  object
 7   JP_Sales     16597 non-null  object
 8   Other_Sales  16597 non-null  object
dtypes: float64(1), object(8)
memory usage: 1.3+ MB

In [114]:
df_copy.isnull().sum() #결측치 확인

Name             0
Platform         0
Year           270
Genre           50
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

In [115]:
data_columns = ['Year','Publisher','Genre']

for col in data_columns:
  #중복된 Name에 'Year','Publisher','Genre'컬럼이 nan인 경우
  dn = df_copy[df_copy.duplicated('Name')&df_copy[col].isnull()]

  #같은 Name의 'Year','Publisher','Genre' 값을 가져와서 대체하기
  for name in dn['Name'].unique():
    value = df_copy.loc[df_copy['Name']==name,col].dropna().sort_values()
    value_fvi = value.first_valid_index()
    if value_fvi is not None:
      result = df_copy.loc[value_fvi, col]
    df_copy.loc[(df_copy['Name'] == name) & df_copy[col].isnull(), col] = result

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [116]:
(df_copy['Publisher']=='Unknown').sum()

203

In [117]:
pn = df_copy[df_copy.duplicated('Name')&(df_copy['Publisher']=='Unknown')]

#같은 Name의 'Publisher' 값이 'Unknown'인 것을 가져와서 대체하기
for name in pn['Name'].unique():
  value = df_copy.loc[df_copy['Name']==name,'Publisher'].replace('Unknown',np.nan).dropna().sort_values()
  value_fvi = value.first_valid_index()
  if value_fvi is not None:
    result = df_copy.loc[value_fvi, 'Publisher']
  df_copy.loc[(df_copy['Name'] == name) & (df_copy['Publisher']=='Unknown'), 'Publisher'] = result

In [118]:
(df_copy['Publisher']=='Unknown').sum()

144

In [119]:
df_copy.isnull().sum()

Name             0
Platform         0
Year           158
Genre           38
Publisher       54
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

In [120]:
df_copy.dropna(subset=['Year','Genre','Publisher'], inplace=True)
df_copy.isnull().sum()

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

Name           0
Platform       0
Year           0
Genre          0
Publisher      0
NA_Sales       0
EU_Sales       0
JP_Sales       0
Other_Sales    0
dtype: int64

In [121]:
#소수점을 없애기 위해 int로 바꾼다음 앞에 숫자 추가를 위해 str 바꿔줍니다
df_copy.Year = df_copy.Year.astype(int).astype(str)

#data<=9인 값은 200을 앞에 추가
df_copy.loc[df_copy['Year'].astype(int)<=9, 'Year'] = '200' + df_copy.loc[df_copy['Year'].astype(int)<=9, 'Year'].astype(str)
#data<=23인 값은 20을 앞에 추가
df_copy.loc[df_copy['Year'].astype(int)<=23, 'Year'] = '20' + df_copy.loc[df_copy['Year'].astype(int)<=23, 'Year'].astype(str)
#23<data<100인 값은 19를 앞에 추가
df_copy.loc[(df_copy['Year'].astype(int)>23)&(df_copy['Year'].astype(int)<100), 'Year'] = '19' + df_copy.loc[(df_copy['Year'].astype(int)>23)&(df_copy['Year'].astype(int)<100), 'Year'].astype(str)

#마지막엔 int로 타입 변환
df_copy.Year = df_copy.Year.astype(int)

/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [122]:
df_copy.reset_index(drop=True,inplace=True)
df_copy

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Candace Kane's Candy Factory,DS,2008,Action,Destineer,0.04,0,0,0
1,The Munchables,Wii,2009,Action,Namco Bandai Games,0.17,0,0,0.01
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010,Adventure,Alchemist,0,0,0.02,0
3,Deal or No Deal: Special Edition,DS,2010,Misc,Zoo Games,0.04,0,0,0
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010,Platform,D3Publisher,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...,...
16361,Ice Age 2: The Meltdown,GC,2006,Platform,Vivendi Games,0.15,0.04,0,0.01
16362,Rainbow Islands: Revolution,PSP,2005,Action,Rising Star Games,0.01,0,0,0
16363,NBA 2K16,PS3,2015,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16364,Toukiden: The Age of Demons,PSV,2013,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16365,The King of Fighters '95,PS,1996,Fighting,Sony Computer Entertainment,0,0,0.16,0.01