<a href="https://colab.research.google.com/github/Ryu4824/Section_1_Project/blob/main/Section_1_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Section 1 Project**

## Project ë¬¸ì œ ì •ì˜

### ë°°ê²½

> ë¥˜ì¬ì˜ë‹˜ì€ ê²Œì„ íšŒì‚¬ì˜ ë°ì´í„° íŒ€ì— í•©ë¥˜í–ˆìŠµë‹ˆë‹¤. **ë‹¤ìŒ ë¶„ê¸°ì— ì–´ë–¤ ê²Œì„ì„ ì„¤ê³„í•´ì•¼ í• ê¹Œ** ë¼ëŠ” ê³ ë¯¼ì„ í•´ê²°í•˜ê¸° ìœ„í•´, ê¸°ì¡´ì˜ ë°ì´í„°ì— ê¸°ë°˜í•˜ì—¬ ì¸ì‚¬ì´íŠ¸ë¥¼ ì–»ê³ , ì˜ì‚¬ê²°ì •ì„ í•˜ê³ ì í•˜ëŠ” ê²ƒì´ ì—¬ëŸ¬ë¶„ì˜ ëª©í‘œì…ë‹ˆë‹¤.

### í•„ìˆ˜ ì¡°ê±´

- ì§€ì—­ì— ë”°ë¼ì„œ ì„ í˜¸í•˜ëŠ” ê²Œì„ ì¥ë¥´ê°€ ë‹¤ë¥¼ê¹Œ ë¼ëŠ” ì§ˆë¬¸ì— ëŒ€ë‹µí–ˆëŠ”ê°€?
 - ì§€ì—­ì€ ì–´ë–»ê²Œ êµ¬ë¶„í–ˆëŠ”ì§€ ì„¤ëª…í•¨
 - ì§€ì—­ë³„ë¡œ ì„ í˜¸í•˜ëŠ” ê²Œì„ì˜ ì¥ë¥´ë¥¼ íŒŒì•…í•¨
 - ì§€ì—­ë³„ë¡œ ì„ í˜¸í•˜ëŠ” ê²Œì„ì˜ ì¥ë¥´ê°€ ì™œ ê°™ë‹¤ê³ /ë‹¤ë¥´ë‹¤ê³  ìƒê°í–ˆëŠ”ì§€ë¥¼ ì„¤ëª…í•¨

- ì—°ë„ë³„ ê²Œì„ì˜ íŠ¸ë Œë“œê°€ ìˆì„ê¹Œ ë¼ëŠ” ì§ˆë¬¸ì— ëŒ€ë‹µí–ˆëŠ”ê°€?
 - íŠ¸ë Œë“œëŠ” ì–´ë–¤ ê²ƒì„ ê¸°ì¤€ìœ¼ë¡œ íŒŒì•…í–ˆëŠ”ì§€ ì„¤ëª…í•¨
 - ì—°ë„ë³„ë¡œ íŠ¸ë Œë“œê°€ ì¡´ì¬í•˜ëŠ”ì§€ ì—¬ë¶€ë¥¼ ì–¸ê¸‰í•¨
 - ì™œ ì¡´ì¬í•œë‹¤/ì¡´ì¬í•˜ì§€ ì•ŠëŠ”ë‹¤ê³  ìƒê°í–ˆëŠ”ì§€ ì„¤ëª…í•¨

- ì¸ê¸°ê°€ ë§ì€ ê²Œì„ì— ëŒ€í•œ ë¶„ì„ ë° ì‹œê°í™” í”„ë¡œì„¸ìŠ¤ê°€ í¬í•¨ë˜ì—ˆëŠ”ê°€?
 - ì¸ê¸°ê°€ ë§ë‹¤ëŠ” ê²ƒì„ ì–´ë–»ê²Œ ì •ì˜í–ˆëŠ”ì§€ ì„¤ëª…í•¨
 - í•´ë‹¹ ê²Œì„ì´ ì™œ ì¸ê¸°ê°€ ë§ë‹¤ê³  ìƒê°í–ˆëŠ”ì§€ ì„¤ëª…í•¨
 - ì‹œê°í™”ë¥¼ í†µí•´ ë¬´ì—‡ì„ ë‚˜íƒ€ë‚´ê³ ì í•˜ëŠ”ì§€ë¥¼ ê³ ë ¤í•˜ì—¬ íŒŒë¼ë¯¸í„°ë¥¼ ì¡°ì •í•¨ (ì œëª©,ì¶•ì´ë¦„ í•„ìˆ˜, ê·¸ ì™¸ íŒŒë¼ë¯¸í„°ëŠ” ì„ íƒì‚¬í•­)
 - í•´ë‹¹ ë¶„ì„ì„ í†µí•´ ì–´ë–¤ ì¸ì‚¬ì´íŠ¸ë¥¼ ë„ì¶œí•  ìˆ˜ ìˆëŠ”ì§€ ì„¤ëª…í•¨

- ë‹¤ìŒ ë¶„ê¸°ì— ì–´ë–¤ ê²Œì„ì„ ì„¤ê³„í•´ì•¼ í•˜ëŠ”ì§€ì— ëŒ€í•œ ê²°ë¡ ì´ ì œì‹œë˜ì—ˆëŠ”ê°€?
 - ë¶„ì„ì— ëŒ€í•œ ê²°ë¡ ì´ ì˜ìƒì—ì„œ ì œì‹œë¨

### ì¶”ê°€ ì¡°ê±´ (Advanced Goal)
`ë‹¤ìŒ ì¶”ê°€ ì¡°ê±´ì€ 1ê°œ ì´ìƒ ë§Œì¡± ì‹œ 3ì ì„ ë°›ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.`

- ë””í…Œì¼í•œ ì‹œì  ë° ëª©í‘œ ì„¤ì •ì´ ë¬¸ì œ ì •ì˜ ê³¼ì •ì—ì„œ ì œì‹œë˜ì—ˆëŠ”ê°€?
- ë„ë©”ì¸ ì§€ì‹ì„ í™œìš©í•˜ì—¬ ë¹„ì§€ë‹ˆìŠ¤ ì¸ì‚¬ì´íŠ¸ë¥¼ ë„ì¶œí•˜ì˜€ëŠ”ê°€?
- ì œê³µëœ ë°ì´í„°ì…‹ ì™¸ì— ì¶”ê°€ ë°ì´í„°ë¥¼ ì‚¬ìš©í•˜ì˜€ëŠ”ê°€?
- í†µê³„ì  ê¸°ë²•ì„ í™œìš©í•œ ê°€ì„¤ ê²€ì •ì„ ì§„í–‰í•˜ì˜€ëŠ”ê°€?
- ì™„ì„±ë„ ë†’ì€ ì‹œê°í™”ë¥¼ ë³´ì—¬ì£¼ì—ˆëŠ”ê°€?
 - ê°€ë…ì„±, ëª©ì ì„±ì´ ì˜ ë“œëŸ¬ë‚˜ëŠ” ì‹œê°í™”

ğŸ•¹ï¸ **data description**

- `Name` : ê²Œì„ì˜ ì´ë¦„ì…ë‹ˆë‹¤.
- `Platform` : ê²Œì„ì´ ì§€ì›ë˜ëŠ” í”Œë«í¼ì˜ ì´ë¦„ì…ë‹ˆë‹¤.
- `Year` : ê²Œì„ì´ ì¶œì‹œëœ ì—°ë„ì…ë‹ˆë‹¤.
- `Genre` : ê²Œì„ì˜ ì¥ë¥´ì…ë‹ˆë‹¤.
- `Publisher` : ê²Œì„ì„ ë°°ê¸‰í•œ íšŒì‚¬ì…ë‹ˆë‹¤.
- `NA_Sales` : ë¶ë¯¸ì§€ì—­ì—ì„œì˜ ì¶œê³ ëŸ‰ì…ë‹ˆë‹¤.
- `EU_Sales` : ìœ ëŸ½ì§€ì—­ì—ì„œì˜ ì¶œê³ ëŸ‰ì…ë‹ˆë‹¤.
- `JP_Sales` : ì¼ë³¸ì§€ì—­ì—ì„œì˜ ì¶œê³ ëŸ‰ì…ë‹ˆë‹¤.
- `Other_Sales` : ê¸°íƒ€ì§€ì—­ì—ì„œì˜ ì¶œê³ ëŸ‰ì…ë‹ˆë‹¤.

In [1]:
# ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [2]:
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/datasets/vgames2.csv',index_col=0)
df_copy = df.copy()
df_copy

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
4,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...,...
16594,Ice Age 2: The Meltdown,GC,2006.0,Platform,Vivendi Games,0.15,0.04,0,0.01
16595,Rainbow Islands: Revolution,PSP,2005.0,Action,Rising Star Games,0.01,0,0,0
16596,NBA 2K16,PS3,2015.0,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16597,Toukiden: The Age of Demons,PSV,2013.0,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16598,The King of Fighters '95,PS,1996.0,Fighting,Sony Computer Entertainment,0,0,0.16,0.01

In [3]:
df_copy[df_copy.duplicated(keep=False)]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
8056,Wii de Asobu: Metroid Prime,Wii,NaN,Shooter,Nintendo,0,0,0.02,0
9185,Wii de Asobu: Metroid Prime,Wii,NaN,Shooter,Nintendo,0,0,0.02,0

In [4]:
#ì¤‘ë³µê°’ í™•ì¸í›„ ì œê±°
df_copy = df_copy.drop_duplicates()
df_copy.reset_index(drop=True,inplace=True)

In [5]:
df_copy

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...,...
16592,Ice Age 2: The Meltdown,GC,2006.0,Platform,Vivendi Games,0.15,0.04,0,0.01
16593,Rainbow Islands: Revolution,PSP,2005.0,Action,Rising Star Games,0.01,0,0,0
16594,NBA 2K16,PS3,2015.0,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16595,Toukiden: The Age of Demons,PSV,2013.0,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16596,The King of Fighters '95,PS,1996.0,Fighting,Sony Computer Entertainment,0,0,0.16,0.01

In [6]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16597 entries, 0 to 16596
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16597 non-null  object
 1   Platform     16597 non-null  object
 2   Year         16327 non-null  float64
 3   Genre        16547 non-null  object
 4   Publisher    16539 non-null  object
 5   NA_Sales     16597 non-null  object
 6   EU_Sales     16597 non-null  object
 7   JP_Sales     16597 non-null  object
 8   Other_Sales  16597 non-null  object
dtypes: float64(1), object(8)
memory usage: 1.1+ MB

In [7]:
df_copy.isnull().sum()

Name             0
Platform         0
Year           270
Genre           50
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

In [8]:
data_columns = ['Year','Publisher','Genre']

for col in data_columns:
  #ì¤‘ë³µëœ Nameì— 'Year','Publisher','Genre'ì»¬ëŸ¼ì´ nanì¸ ê²½ìš°
  dn = df_copy[df_copy.duplicated('Name') & df_copy[col].isnull()]

  #ê°™ì€ Nameì˜ 'Year','Publisher','Genre' ê°’ì„ ê°€ì ¸ì™€ì„œ ëŒ€ì²´í•˜ê¸°
  for name in dn['Name'].unique():
    value = df_copy.loc[df_copy['Name']==name,col].dropna()
    value_fvi = value.first_valid_index()
    if value_fvi is not None:
      result = df_copy.loc[value_fvi, col]
    df_copy.loc[(df_copy['Name'] == name) & df_copy[col].isnull(), col] = result

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [9]:
df_copy.isnull().sum() #ê²°ì¸¡ì¹˜ í™•ì¸

Name             0
Platform         0
Year           158
Genre           38
Publisher       54
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

In [10]:
df_copy.dropna(subset=['Year','Genre','Publisher'], inplace=True)
df_copy.isnull().sum()

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

Name           0
Platform       0
Year           0
Genre          0
Publisher      0
NA_Sales       0
EU_Sales       0
JP_Sales       0
Other_Sales    0
dtype: int64

In [11]:
#ì†Œìˆ˜ì ì„ ì—†ì• ê¸° ìœ„í•´ intë¡œ ë°”ê¾¼ë‹¤ìŒ ì•ì— ìˆ«ì ì¶”ê°€ë¥¼ ìœ„í•´ str ë°”ê¿”ì¤ë‹ˆë‹¤
df_copy.Year = df_copy.Year.astype(int).astype(str)

#data<=9ì¸ ê°’ì€ 200ì„ ì•ì— ì¶”ê°€
df_copy.loc[df_copy['Year'].astype(int)<=9, 'Year'] = '200' + df_copy.loc[df_copy['Year'].astype(int)<=9, 'Year'].astype(str)
#data<=23ì¸ ê°’ì€ 20ì„ ì•ì— ì¶”ê°€
df_copy.loc[df_copy['Year'].astype(int)<=23, 'Year'] = '20' + df_copy.loc[df_copy['Year'].astype(int)<=23, 'Year'].astype(str)
#23<data<100ì¸ ê°’ì€ 19ë¥¼ ì•ì— ì¶”ê°€
df_copy.loc[(df_copy['Year'].astype(int)>23)&(df_copy['Year'].astype(int)<100), 'Year'] = '19' + df_copy.loc[(df_copy['Year'].astype(int)>23)&(df_copy['Year'].astype(int)<100), 'Year'].astype(str)

#ë§ˆì§€ë§‰ì—” intë¡œ íƒ€ì… ë³€í™˜
df_copy.Year = df_copy.Year.astype(int)

/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [12]:
df_copy.reset_index(drop=True,inplace=True)
df_copy

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Candace Kane's Candy Factory,DS,2008,Action,Destineer,0.04,0,0,0
1,The Munchables,Wii,2009,Action,Namco Bandai Games,0.17,0,0,0.01
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010,Adventure,Alchemist,0,0,0.02,0
3,Deal or No Deal: Special Edition,DS,2010,Misc,Zoo Games,0.04,0,0,0
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010,Platform,D3Publisher,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...,...
16361,Ice Age 2: The Meltdown,GC,2006,Platform,Vivendi Games,0.15,0.04,0,0.01
16362,Rainbow Islands: Revolution,PSP,2005,Action,Rising Star Games,0.01,0,0,0
16363,NBA 2K16,PS3,2015,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16364,Toukiden: The Age of Demons,PSV,2013,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16365,The King of Fighters '95,PS,1996,Fighting,Sony Computer Entertainment,0,0,0.16,0.01

In [13]:
sales = ['NA_Sales',	'EU_Sales',	'JP_Sales',	'Other_Sales']
for sal_name in sales:
  for i, value in enumerate(df_copy[sal_name]):
    if value[-1] == 'M':
      df_copy.loc[i, sal_name] = float(value[:-1]) * 1000000
    elif value[-1] == 'K':
      df_copy.loc[i, sal_name] = float(value[:-1]) * 1000
    else:
      df_copy.loc[i, sal_name] = float(value) * 1000000

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [14]:
df_copy.iloc[:,-4:] = df_copy.iloc[:,-4:].astype(int)

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1851: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, val, pi)

In [15]:
df_copy

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Candace Kane's Candy Factory,DS,2008,Action,Destineer,40000,0,0,0
1,The Munchables,Wii,2009,Action,Namco Bandai Games,170000,0,0,10000
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010,Adventure,Alchemist,0,0,20000,0
3,Deal or No Deal: Special Edition,DS,2010,Misc,Zoo Games,40000,0,0,0
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010,Platform,D3Publisher,120000,90000,0,40000
...,...,...,...,...,...,...,...,...,...
16361,Ice Age 2: The Meltdown,GC,2006,Platform,Vivendi Games,150000,40000,0,10000
16362,Rainbow Islands: Revolution,PSP,2005,Action,Rising Star Games,10000,0,0,0
16363,NBA 2K16,PS3,2015,Sports,Take-Two Interactive,440000,190000,30000,130000
16364,Toukiden: The Age of Demons,PSV,2013,Action,Tecmo Koei,50000,50000,250000,30000
16365,The King of Fighters '95,PS,1996,Fighting,Sony Computer Entertainment,0,0,160000,10000